<li id="nav-ubuntu"><a class="waves-effect" href="#ubuntu">Ubuntu</a></li>
<li id="nav-opensuse"><a class="waves-effect" href="#opensuse">openSUSE</a></li>
<li id="nav-fedora"><a class="waves-effect" href="#fedora">Fedora</a></li>
<li id="nav-rhel"><a class="waves-effect" href="#rhel">RHEL</a></li>